<h2> Bank of WDI </h2>
  <div class="row outline">
    <div class = "six columns">
      <h3> Checking Account</h3>
      <class='section'>
        <div id = 'checkbal' ></div>
        <div class = 'enter'><input type="text", name= 'checking',  id ='checkingbal'> </div>
        <div class = 'small button'><input type ='submit', value = 'Deposit', id = 'checkdep'> </div>
        <div class = 'small button'><input type ='submit', value = 'Withdrawal', id = 'checkwith'> </div>
    </div>
    <div class = "six columns">
      <h3> Savings Account </h3>
      <class='section'>
        <div id = 'savebal'></div>
        <div class = 'enter'><input type="text", name= 'checking',  id ='savingbal'> </div>
        <div class = 'small button'><input type ='submit', value = 'Deposit', id = 'savedep'> </div>
        <div class = 'small button'><input type ='submit', value = 'Withdrawal', id = 'savewith'> </div>
      </div>
  </div>